.header {
    background-color: #F8F7F1;
    color: black;
    padding: 15px 20px;
    text-align: left;
    font-size: 20px;
    margin: none;
}

.header h1 a {
  text-decoration: none;
  color: black;
}